<section id="home" class="ui middle aligned page grid">
  <div class="row">
    <div class="center aligned column">
      <div id="center" class="ui circular segment">

        <h1>真武會館</h1>
        <a href="#" class="ui huge black button">關於真武</a>
      </div>
    </div>
  </div>


  {% comment %}
    {% assign index = true %}
    {% for post in paginator.posts %}
    {% assign content = post.content %}
      <article>
        {% include article.html %}
      </article>
    {% endfor %}
  {% endcomment %}
</section>
