<section id="home" class="ui one column center aligned grid">
  <div class="column">
    <div id="centered">
      <h1>真武會館</h1>
      <a href="#" id="mobile_menu" class="ui huge black sticky button">關於真武</a>
    </div>
  </div>

  {% comment %}
    {% assign index = true %}
    {% for post in paginator.posts %}
    {% assign content = post.content %}
      <article>
        {% include article.html %}
      </article>
    {% endfor %}
  {% endcomment %}
</section>

<script>
  $('#mobile_menu').click(
    function() {
      $('.ui.sidebar').sidebar('toggle');
  });
</script>

