<section id="summary">
  <div class="ui center aligned stackable divided grid">
    <div class="three column row">
      <div class="column">
        <img src="images/summary_1.jpg">
        <h3>真工夫</h3>
        <ul>
          <li>武當三豐自然派</li>
          <li>少林本心門</li>
        </ul>
      </div>
      <div class="column">
        <img src="images/summary_2.jpg">
        <h3>專業訓練</h3>
        <ul>
          <li>結合科學與傳統訓練</li>
        </ul>
      </div>
      <div class="column">
        <img src="images/summary_3.jpg">
        <h3>兒童武術</h3>
        <ul>
          <li>全方面發展</li>
          <li>提昇自信</li>
        </ul>
      </div>

    </div>
  </div>
</section>
