<section id="summary">
  <div class="ui three column stackable center aligned page grid">
    <div class="column">
      <img src="http://img5.9chun.com/image/Sight/20101/aaf82c9a-2711-4c3d-9d24-133302a8e539.jpg" class="ui small centered image">
      <h3>真工夫</h3>
      <ul>
        <li>武當三豐自然派</li>
        <li>少林本心門</li>
      </ul>
    </div>
    <div class='column'>
      <img src="http://img5.9chun.com/image/Sight/20101/aaf82c9a-2711-4c3d-9d24-133302a8e539.jpg" class="ui small centered image">
      <h3>專業訓練</h3>
      <ul>
        <li>結合科學與傳統訓練</li>
      </ul>
    </div>
    <div class='column'>
      <img src="http://img5.9chun.com/image/Sight/20101/aaf82c9a-2711-4c3d-9d24-133302a8e539.jpg" class="ui small centered image">
      <h3>兒童武術</h3>
      <ul>
        <li>全方面發展</li>
        <li>提昇自信</li>
      </ul>
    </div>
  </div>
</section>
