<section id="summary">
  <div class="ui three column stackable center aligned page grid">
    <div class="column">
      <img src="http://img5.9chun.com/image/Sight/20101/aaf82c9a-2711-4c3d-9d24-133302a8e539.jpg" class="ui small centered image">
      ohei
    </div>
    <div class='column'>
      <img src="http://img5.9chun.com/image/Sight/20101/aaf82c9a-2711-4c3d-9d24-133302a8e539.jpg" class="ui small centered image">
      foo
    </div>
    <div class='column'>
      <img src="http://img5.9chun.com/image/Sight/20101/aaf82c9a-2711-4c3d-9d24-133302a8e539.jpg" class="ui small centered image">
      bar
    </div>
  </div>
</section>
