// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* Initialization */
#homepage {
  background-color: $base5;
  min-height: 100vh;
}

section {
  min-height: 100vh;
  background-color: $base4;
}

img {
  width: 100%;
}

/* Navigation */

.vertical.sidebar.menu {
  background-color: $base1;

  #logo {
    // background-image: url('../images/logo.png');
    background-size: cover;
    height: 100px;
    margin-bottom: 90px;
  }

  section#navbar {
    min-height: inherit;
    background-color: $base1;

    .item {
      color: $base4;
      font-size: 1.5rem;
      line-height: 2em;
    }
  }
}

/* Home Section */
#home {
  background: linear-gradient(to top, hsla(0, 0, 70%, 1), transparent 25%),
              linear-gradient(hsla(0, 0, 95%, 0.35), hsla(0, 0, 95%, 0.35)),
              url('../images/banner.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;

  #centered {
    display: inline-block;
    margin:16em auto 0;
  }

  #home_center {
    background: radial-gradient(#f2f2f2, transparent);
    max-width: 450px;
    background:pink;
    margin:15em auto 0;
    height: 10em;
  }
}


/* About Section */
#about {
  h2 {
    font-size: 3em;
  }

  .title {
    font-size: 3em;
    text-align: center;
  }

  #about_content {
    p {
      font-size: 20px;
      line-height: 1.5em;
    }
  }
}


